.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 800px;
    z-index: 90;
    background: rgba(0, 0, 0, 0.33);
  }
  
  .modal {
    background-color: #EAE5DF;
    ;
  }
  .tgGreen {
    color: #5AA295;
}